
.weightloss__hero{
    background: linear-gradient(180deg, #FEFEFE 0%, #DADADA 100%);
    position: relative;
    overflow: hidden;
    .logo{
        text-align: center;
        display: block;
    }
    .logo-img{
        max-width: 100%;
        height: 100%;
        max-height: 50px;
        position: relative;
        z-index: 99;
        &.mobile{
            height: 37px;
            margin-top: var(--size_30);
            margin-bottom: var(--size_30);
        }
    }
    &__col__left{
        padding-right: 0;
        position: relative;
        z-index: 1;
    }
    &__col__right{
        padding-left: 0;
    }
    .title{
        color: var(--primary);
        font-size: var(--font_40_30_24_20);    
        font-weight: 400;
    }
    .subtitle{
        color: var(--text);
    }
    &__img{
        width: 100%;
        max-width: 500px;
        height: 100%;
        object-fit: contain;
        object-position: top center;
        position: relative;
        z-index: 0;
    }
}

.weightloss__treatment{
    padding-top: var(--size_40_half);
    padding-bottom: var(--size_40_half);
    .card__col{
        max-width: 1080px;
    }
    .card{
        background-color: var(--white);
        padding: var(--size_20_half);
        border-radius: 34px;
        border: none;
       
        &-header{
            background-color: transparent;
            border-radius: 0;
            padding: 0;
            border: 0;
        }
        &-body{
            background-color: transparent;
            padding: 0;
            border: 0;
            margin-top: var(--size_15);
            margin-bottom: var(--size_15);
        }
        &-footer{
            background-color: transparent;
            padding: 0;
            border: 0;
            margin-top: var(--size_40_half);
        }
        &__img{
            object-fit: contain;
            object-position: center;
            height: 100%;
            max-height: 490px;
            width: 100%;
        }
        &__title{
            color: var(--primary);
            font-size: var(--font_55_45_40_30);
            font-weight: 700;
            font-family: var(--poppins);
            text-align: center;
            margin-bottom: 0;
        }
        &__text{
            font-size: var(--font_28_22_20_16);
            font-weight: 400;
            margin-top: var(--size_5);
            text-align: center;
            color: var(--primary);
            text-align: center;
        }
        &__list{
            margin-bottom: var(--size_40_half);
        }
        &__list__item{
            font-size: var(--font_19_16_14_11);
            font-weight: 400;
            color: var(--primary);
            width: fit-content;
            margin: 0 auto;
        }
        &__prize{
            font-size: var(--font_62_38);
            font-family: var(--poppins);
            font-weight: 700;
            color: var(--primary);
            text-align: center;
        }
        &__month{
            font-size: var(--font_28_22_20_16);
            font-family: var(--poppins);
            font-weight: 400;
            color: var(--primary);
        }
        &__bottom{
            font-size: var(--font_22_18_14_10);
            color: var(--primary);
            margin: var(--size_30_half) auto var(--size_30_half);
            max-width: 380px;
            text-align: center;

        }
        .btn{
            padding-left: var(--size_30);
            padding-right: var(--size_30);
            width: 100%;
            max-width: 200px;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        &.purple{
            background-color: var(--primary);
        }
        &__semaglutide{
            background-color: var(--primary);
            .card{
                &__title,
                &__text,
                &__prize,
                &__list__item,
                &__bottom,
                &__month{
                    color: var(--white);
                }
            }
        }
    }   
}
.weightloss__choose__treatment{
    background-color: var(--primary);
    .col__left{
        padding-top: var(--size_80_third);
        padding-left: calc(var(--c-margin-left) + 14.5px);
        align-self: center;
    }
    &__img{
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
// .weightloss__choose{
//     padding-top: var(--size_40_half);
//     padding-bottom: var(--size_40_half);
//     position: relative;
//     background-color: var(--primary);
//     overflow: hidden;
//     .title{
//         font-size: var(--font_35_30_24_20);
//         font-weight: 700;
//     }
//     .text{
//         font-size: var(--font_24_22_20_16);
//         font-weight: 400;
//     }
//     &__figure{
//         margin-bottom: 0;
//         position: relative;
//         padding: var(--size_30) 0 var(--size_30) var(--size_30);
//         &:before{
//             content: '';
//             position: absolute;
//             left: 0px;
//             top: 0;
//             width: 100vw;
//             height: 100%;
//             border-top-left-radius: 150px;
//             background-color: var(--white);
//             z-index: 0;
//         }
//     }
//     &__img{
//         object-fit: contain;
//         object-position: center;
//         width: 100%;
//         height: 100%;
//         // max-height: 460px;
//         max-width: 478px;
//         z-index: 1;
//         position: relative;
//     }   
// }
.weightloss__steps{
    overflow: hidden;
    padding-top: var(--size_40_half);
    padding-bottom: var(--size_40_half);
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    .subtitle{
        text-align: center;
        font-size: var(--font_20_18_16);
        font-weight: 400;
        color: var(--primary);
    }
    .title{
        text-align: center;
        font-size: var(--font_35_30_24_20);
        font-weight: 400;
        color: var(--primary);
    }
    .card{
        border:0;
        flex-direction: row;
        align-items: center;
        border-radius: var(--size_40_half);
        background: linear-gradient(180deg, #28566E 0%, #28566E 100%);
        border-bottom: 4px solid #FFFFFF;
        padding: var(--size_20) var(--size_90_third);
        max-width: 850px;
        &-arrow-col{
            align-self: center;
            text-align: center;
        }
        &-arrow-icon{
            max-width: 100%;
            height: 100%;
            max-height: 70px;
            object-fit: contain;
            object-position: center;
        }
        &-header{
            border: none;
            background-color: transparent;
            &-title{
                width: fit-content;
                background-color: var(--white);
                margin-bottom: var(--size_10);
                color: var(--primary);
                padding: var(--size_5) var(--size_15);
                border-radius: var(--size_10);
            }
        }
        &-body{
            position: relative;
            width: fit-content;
        }
        &-figure{
            width: 74px;
            height: 74px;
            border-radius: 50%;
            margin-bottom: 0;
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--size_30_half);
        }
        &-img{
            max-height: 111px;
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
        &-title{
            // text-align: center;
            font-size: var(--font_24_22_20_16);
            margin-bottom: 0;
            color: var(--white);
            line-height: 1.6;
        }
        &-col{
            &.active,
            &:hover{
                .card{
                    border-bottom: 4px solid #28566E;
                    background: linear-gradient(180deg, #FFFFFF 0%, #D4D4D4 100%);
                    &-header-title{
                        background-color: var(--primary);
                        color: var(--white);
                    }
                    &-figure{
                        background: #D9D9D9;                    
                    }
                    &-title{
                        color: var(--primary);
                    }
                    &-arrow-icon{
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
    // #ws_card_1{
    //     .card{
    //         border-bottom: 4px solid #28566E;
    //         background: linear-gradient(180deg, #FFFFFF 0%, #D4D4D4 100%);
    //         &-header-title{
    //             background-color: var(--primary);
    //             color: var(--white);
    //         }
    //         &-figure{
    //             background: #D9D9D9;                    
    //         }
    //         &-title{
    //             color: var(--primary);
    //         }
    //         &-arrow-icon{
    //             opacity: 1 !important;
    //         }
    //     }
    // }
}
.weightloss__plan{
    padding-top: var(--size_40_half);
    padding-bottom: var(--size_40_half);
    // background: linear-gradient(360deg, #7C93E0 0%, #77D577 100%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .title{
        font-family: var( --poppins);
        font-size: var(--font_45_35_26_22);
        font-weight: 700;
        .fw-light{
            font-weight: 400;
        }
    }
    .subtitle{
        font-family: var( --poppins);
        font-size: var(--font_24_22_20_16);
        font-weight: 400;
    }
   
    .card{
        border:none;
        box-shadow: none;
        padding: 15px;
        border-radius: 20px;
        .left-text{
            font-size: var(--font_20_18_16);
        }
        .left-head{
            font-size: var(--font_28_22_20_16);
            &.bule{
                color: var(--primary);
            }
            &.green{
                color: var(--green);
            }
        }
        .list-items{
            font-size: var(--font_20_18_16);
        }
        .price{
            &-title{
                font-size: var(--font_87_76_54_39);
                font-family: var( --poppins);
                line-height: 70px;
                color: var(--primary);
                font-weight: 700;
                &.green{
                    color: var(--green);
                }
            }
            &-sub{
                font-size: var(--font_45_35_26_22);
                font-family: var( --poppins);
                color: var(--primary);
                font-weight: 400;
                &.green{
                    color: var(--green);
                }
            }
    
        }
        &-header{
            background-color: transparent;
            border:none;
            margin-bottom: var(--size_20_half);
           
        }
        &-body{
            border:none;
            background-color: var(--primary);
            padding: 0px 0px 15px 15px;
            border-radius: 20px;
            &.green{
                background-color: var(--green);
            }
            .text{
                font-size: var(--font_24_22_20_16);
                &.fw-bold{
                    font-weight: 700;
                }
            }
        }
        .card-cta{
            background-image: url('../images/btn_bg_white.webp');
            background-repeat: no-repeat;
            background-position: 1px -1px;
            background-size: 100%;
            padding: 0 0px 45px 40px;
        }
        .btn{
            width: 310px;
            height: 94px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font_26_22_18_16_btn);
        }
    }
}
.weightloss__works{
    padding-top: var(--size_40_half);
    position: relative;
    &__group{
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-top: var(--size_30);
        padding-bottom: var(--size_30);
    }
    .title{
        font-size: var(--font_35_30_24_20);
        font-weight: 400;
        color: var(--primary);
    }
    .subtitle{
        font-size: var(--font_20_18_16);
        font-weight: 400;
        color: var(--primary);
    }
    .text{
        font-size: var(--font_24_22_20_16);
    }
    .head{
        font-size: var(--font_35_30_24_20);
        color: var(--primary);
        font-weight: 500;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(180deg, #FFFFFF 0%, #D5D2D2 100%);
        border-bottom: 4px solid #28566E;
        border-radius: var(--size_50_half);
        padding: var(--size_15) var(--size_30_half);
        &-icon{
            width: 100%;
            max-width: 115px;
            height: 100%;
            max-height: var(--size_100);
            object-fit: contain;
            object-position: center;
            margin-bottom: var(--size_15);
        }
        &-text{
            font-weight: 400;
            text-align: center;
        }

        // &.active,
        // &:hover{
        //     background: var(--primary);
        //     border:3px solid var(--green);
        //     .imagebox-text{
        //         color: #fff;
        //     }
        //     .imagebox-icon path{
        //         fill: #fff !important;
        //     }
        // }        
    }
}
.weightloss__ctastart{
    padding-top: var(--size_40_half);
    padding-bottom: var(--size_40_half);
    background: var(--primary);
    .wrapper{
        background-image: url('../images/w_loss_cta.webp');
        min-height: 400px;
        border-radius: 30px;
        display: flex;
        align-items: stretch;
        background-position: top;
    }
    &__img{
        object-fit: cover;
        object-position: top center;
        width: 100%;
        height: 100%;
    }
    .getstart{
        background-image: url('../images/btn_bg_blue.webp');
        background-repeat: no-repeat;
        background-position: 1px -1px;
        background-size: 100%;
        padding: 0 0px 45px 40px;
        .btn{
            width: 310px;
            height: 94px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font_26_22_18_16_btn);
        }
    }
    .content{
        width: 45%;
        padding-top: var(--size_50_third);
        padding-bottom: var(--size_50_third);
        &-title{
            font-size: var(--font_55_45_40_30);
            line-height: 1;
            font-weight: 500;
            color: var(--primary);
        }
        &-text{
            font-size: var(--font_22_18_14_10);
        }
    }
    .mobile{
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        .content{
            text-align: center;
        }
        &__cta{
            text-align: center;
        }
        .btn{
            min-height: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            max-width: fit-content;
            margin: -25px auto 0;
            max-width: 240px;
            width: 100%;
            color: var(--primary);
            border: 2.56px solid var(--primary);
            box-shadow: 0px 3.41px 3.41px 0px #00000040 !important;
        }
    }
    .mobile-cta{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 140px;
        height: 130px;
        background-image: url('../images/btn_bg_blue_square.webp');     
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 2px -10px;
        .btn{
            display: flex;
            align-items: center;
            padding: 0;
            width: 90px;
            height: 98px;
            position: absolute;
            right: 0px;
            bottom: 0px;
            z-index: 1;
            border-radius: 20px;
        }
    }
}
.weightloss__partnership{
    padding-top: var(--size_40_half);
    padding-bottom: var(--size_40_half);
    .head{
        font-size: var(--font_35_30_24_20);
        color: var(--primary);
        font-weight: 500;
    }
    .text{
        font-size: var(--font_24_22_20_16);
    }
}
.weightloss__footer{
    padding-top: var(--size_40_half);
    padding-bottom: var(--size_40_half);
    background: var(--primary);
    .text{
        font-size: var(--font_24_22_20_16);  
    }
}