
// $gcx_font: 'Satoshi';
$gcx_font: "Onest", sans-serif;
$gcx_font_neue_machina: 'Neue Machina';
// colors
$gcx_black: rgb(0, 0, 0); //#000000; 
$gcx_white: rgb(255, 255, 255); //#FFFFFF;

// green colors
$gcx_green: rgb(34, 173, 1); //#22AD01;
$gcx_green_1:rgb(29, 141, 2); //#1D8D02;
$gcx_green_font:rgb(28, 146, 0); //#1C9200;
$gcx_green_new:rgb(56, 180, 26); //#38B41A



$gcx_green_dark:rgb(3, 15, 0); //#030F00;
$gcx_green_dark_1:rgb(6, 31, 0); //#061F00;
$gcx_green_dark_new:rgb(17, 32, 17); //#112011

$gcx_black_mobile_nav:rgb(25, 27, 24); //#191B18;

$gcx_black_bg: rgb(15, 16, 19); // #0F1013;
$gcx_black_bg_1: rgb(23, 23, 29); // #17171D;
$gcx_black_bg_2: rgb(29, 44, 25); // #1D2C19;
$gcx_black_bg_3: rgb(22, 23, 26); // #16171A;
$gcx_black_bg_body: rgb(15, 14, 17); // #0F0E11

$gcx_black_font: rgb(15, 16, 19); // #0F1013;
$gcx_black_font_1:rgb(35, 35, 35); //#232323;

$gcx_orange:rgb(200, 97, 0); //#C86100
$gcx_orange_light:rgba(255, 158, 1); //#FF9E01
$gcx_orange_dark:rgb(75, 58, 1); //#4B3A01

$gcx_gray_light:rgba(243, 243, 243); //#F3F3F3

$gcx_blue:rgb(3, 113, 255); //#0371FF
$gcx_blue_dark:rgb(51, 117, 187); //#3375BB

$gcx_red: #FF0F00;
$gcx_red_dark: #FF0F0033;


$header_height: 100px;
$pad-y: 100px;